@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

:root{
    --white: #F2F2F2;
    --black: black;
    --lightpurple: #6f23d9b9;
    --tolightpurple: #c591f8;
    --darkpurple: #4703A6;
    --red: #FF0000;
    
}

*{
    margin: 0px;
    padding: 0px;

}

body{
    
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(to bottom, var(--white), var(--tolightpurple));
    color: var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    color: black;   
    background-image: linear-gradient(to bottom, var(--white), var(--tolightpurple));
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

}

h1{
    text-align: center;
    padding-top: 40px;
    
    
}

.content{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.adicionar{
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

#btn-ntask,
#impt-new-task{

    border: none;
    outline: none;
    font-size: 1rem;
    padding: 15px;

}

#impt-new-task{
    width: 260px;
    border-radius: 17px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.058);
    border: 1px solid var(--darkpurple);
    background-color: rgba(226, 225, 225, 0.315);
}


#btn-ntask{
    background-color: var(--darkpurple);
    color: var(--white);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}


#btn-ntask:hover{

    background-color: #4703a6c6;
    transition: .5s;

}

#impt-new-task::placeholder{
    color: var(--tolightpurple);
}


#to-do-list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0px;
}

 .liTarefa{
    list-style-type: none;
    font-size: 1.1em;
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
    color: black;
    align-items: center;
    padding: 10px;
    border-radius: 12px;
}

.completed.liTarefa{
    background-color: #4703a62c;
}


#to-do-list li:hover{
    transition: .4s;
    border-radius: 12px;
    padding-left: 10px;
}

.btn{
    background-color: rgb(0, 194, 0);
    color: white;
    border: none;
    color: var(--white);
    padding: 0.1em 0.3em;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.btnDisabled.btn{
    background-color: #5800d3;
}

.iconDone{
    width: 28px;
    height: 28px;
}

.Tarefas-funcionalidades{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Tarefas-funcionalidades button{
    background-color: transparent;
    border-radius: 12px;
    padding: 10px 20px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border: 2px solid #4703A6;
    color: black;
}




